<?xml version="1.0" encoding="UTF-8"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <listener>
    <listener-class>skeleton.listener</listener-class>
  </listener>
  <servlet>
    <servlet-name>skeleton.web/handler servlet</servlet-name>
    <servlet-class>skeleton.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>skeleton.web/handler servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
